- if @cart.photos.empty?
  .well
    There are no photos in your cart.
    = link_to 'Browse Photos', root_path

- else

  .well
    .row
      .span7
        .well
          %h3 Photos
          %ul.thumbnails
            - @cart.line_items.each do |li|
              %li.span2
                .thumbnail
                  = link_to li.photo.image.url(:large), :class => 'thumb' do
                    = image_tag li.photo.image.url(:thumb)

                  = link_to remove_cart_url(:photo_id => li.photo.id),
                    method: :delete, rel: 'tooltip', class: "delete pull-right",
                    title: 'Remove from cart' do
                    %i.icon-remove-sign.icon-large

                  .caption
                    #{li.size.capitalize} (#{number_to_currency(li.unit_price)})

          :javascript
            $('html').on('contextmenu', 'img', function() { return false; });

      %fieldset.span4.download
        %legend Download

        %ul
          %li After purchasing, items will be available as a digital download.
          %li
            I do prints also, but for now you'll need to #{contact_me}
            to order those.
          %li
            Note: you do not need a PayPal account to check out. Look for
            the 'pay as a guest' link if you do not wish to create one.

        .well
          All images purchased and downloaded from this site are subject to a
          = link_to "Personal Use License", '#personal-use-licence',
            data: {toggle: 'modal'}
          \. For a
          = link_to "Commercial Use Licence", '#commercial-use-licence',
            data: {toggle: 'modal'}
          and pricing, please #{contact_me}.

        - if @cart.errors[:promo_code].any?
          %p.alert.alert-error Promo code #{@cart.errors[:promo_code].join(', ')}

        = link_to 'Have a promo code?', '#promo-code', data: {toggle: 'modal'}

        %table.table
          - if @cart.promo_id.present?
            %tr
              %th Promo #{@cart.promo.code}
              %td #{number_to_currency(@cart.promo_discount)} off
          %tr
            %th Order Total
            %td.order-total= number_to_currency(@cart.total)

        = link_to root_path, class: 'browse' do
          %i.icon-signin
          Continue Browsing

        = link_to PaypalPayment.new(@cart, with: :size).checkout_url,
          id: 'paypal-checkout' do

          <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
          align="right" style="margin-right:7px;">

    .clearfix

#promo-code.hide.modal
  = form_for @cart, url: cart_path do |cart_f|
    .modal-body
      = cart_f.label :promo_code, "Promotional Code"
      = cart_f.text_field :promo_code, class: 'pull-left'

    .modal-footer
      = link_to 'Cancel', '#', data: {dismiss: 'modal'}, class: 'btn'
      = submit_tag 'Apply', class: 'btn btn-primary'

#personal-use-licence.hide.modal
  .modal-header
    %h3.strong Personal Use License

  .modal-body
    %p
      This license is for personal use only. Personal use means non-commercial
      use of the Media for display on personal websites and computers, or
      making image prints or video copies for personal use. The Media may not
      be used in any way whatsoever in which you charge money, collect fees, or
      receive any form of remuneration. The Media may not be used in
      advertising. The Media may not be resold, relicensed, or sub-licensed.

    %ul
      %li
        Title and ownership, and all right now and in the future, of and for
        the Media remain exclusively with the content provider.
      %li
        There are no warranties, express or implied. The media are provided 'as
        is'.

  .modal-footer
    = link_to 'I understand', '#', data: {dismiss: 'modal'}, class: 'btn'

#commercial-use-licence.hide.modal
  .modal-header
    %h3.strong Commercial Use Licence

  .modal-body
    %ul
      %li
        Photographer (“content provider”) grants you a perpetual, non-exclusive,
        non-transferable, worldwide license to use the accompanying image(s), for
        permitted commercial purpose, defined as:

        %ul
          %li Advertising, promotion, brochures, packing
          %li As part of a commercial website for promotional purposes (maximum 800x600 pixels)
          %li Prints, posters, flyers, for promotional uses only (not for resale)
          %li Prints, posters, or other commercial display of media
          %li Magazines, books, newspapers, other printed publications, 
          %li Video, broadcast, theatrical

    %h5.strong What you may not do:

    %p
      Buyer may not resell, relicense, redistribute, without express written
      permission from content provider. Use as a derivative work, and reselling
      or redistributing such as derivative work is prohibited. Media may not be
      used in a pornographic, obscene, illegal, immoral, libelous, or
      defamatory manner. Media may not be incorporated into trademarks, logos,
      or service marks. Media may not be made available for download.

    %p
      Content provider retains all rights, license, copyright, title and
      ownership of the Media.

    %p
      There is no warranty, express or implied, with the purchase of this
      digital image file. Content provider will not be made liable for any
      claims, or incidental, consequential or other damages arising out of this
      license or buyers use of media.

  .modal-footer
    = link_to 'I understand', '#', data: {dismiss: 'modal'}, class: 'btn'

