- if @cart.photos.empty?
  .well
    There are no photos in your cart.
    = link_to 'Browse Photos', root_path

- else

  .well
    .row
      %fieldset.span6
        %label Photos
        %ul.thumbnails
          - @cart.line_items.each do |li|
            %li.span2
              .thumbnail
                = link_to li.photo.image.url(:large), :class => 'thumb' do
                  = image_tag li.photo.image.url(:thumb)
                .caption
                  Size: #{li.size}
                  = link_to remove_cart_url(:photo_id => li.photo.id),
                    method: :delete, rel: 'tooltip', class: "delete pull-right",
                    title: 'Remove from cart' do
                    %i.icon-remove-sign.icon-large

      %fieldset.span5.download
        %label Download

        %ul
          %li After purchasing, items will be available as a digital download.
          %li
            I do prints also, but for now you'll need to
            = link_to 'contact me', 'mailto:katie@khouck.com'
            to order those.
          %li
            Note: you do not need a PayPal account to check out. Look for
            the 'pay as a guest' link if you do not wish to create one.

        = link_to PaypalPayment.new(@cart,
          :options_attrs => [:size]).checkout_url, :class => 'paypal' do

          <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
          align="right" style="margin-right:7px;">

    .clearfix
