= render 'recent_alblums'

%ul#thumbnails.thumbnails
  - @alblum.photos.each do |photo|
    %li.span3.thumbnail[photo]
      = link_to photo.image.url(:large), :class => 'photo-link' do
        = image_tag photo.image.url(:medium)

      .caption
        %i.zoom.icon-zoom-in

        %fieldset.download
          %label Download

          .buttons.span3
            = button_to "S", add_cart_url(photo_id: photo.id, size: 'small'),
              :form => {:class => 'span'}, :class => 'btn span1 image-small',
              :method => :post, :remote => true

            = button_to "M", add_cart_url(photo_id: photo.id, size: 'medium'),
              :class => 'btn span1 image-medium', :method => :post, :remote => true

            = button_to "L", add_cart_url(photo_id: photo.id, size: 'large'),
              :class => 'btn span1 image-large', :method => :post, :remote => true
