.well.order
  %h1 Thanks for your order!

  .row
    .well.span7
      %h3 Photos

      %ul.thumbnails
        - @order.line_items.each do |li|
          %li.thumbnail.span2
            = image_tag li.photo.image.url(:thumb)
            .caption
              %label #{li.size.capitalize} (#{number_to_currency(li.unit_price)})
              = link_to li.download_url, :class => 'btn btn-primary' do
                Download
                %i.icon-download-alt

    .span4
      %h3
        %i.icon-cart
        Details
      %table.table
        %tr
          %th Order ID
          %td= @order.uuid
        %tr
          %th Order Total
          %td= number_to_currency(@order.total)
        %tr
          %th Payment Status
          %td Complete

      = link_to root_path, :class => 'btn btn-inverse' do
        Continue Browsing
        %i.icon-signin
