.well
  %p= @order.uuid
  %p= @order.total

  %p= link_to 'Download', download_order_path(@order)

  %ul.thumbnails
    - @order.line_items.each do |li|
      %li.thumbnail
        = image_tag li.photo.image.url
        .caption
          Size: #{li.size}
