!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= page_title
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/

    / Styles
    %link{:href => "http://fonts.googleapis.com/css?family=Pacifico",
      :rel => "stylesheet", :type => "text/css"}/

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    / HTML5 shim
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    - if Rails.env.production?
      = render :partial => 'layouts/ga'
  %body{:class => [controller_name, action_name]}

    .masthead.navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand.logo{href: root_path}= image_tag('logo.png')

          %ul.nav.pull-right{role: 'navigation'}
            = render 'cart/cart'

            - if current_user
              %li#login.dropdown
                %a.dropdown-toggle{href: '/', role: 'button',
                  data: {toggle: 'dropdown', target: '#'}}
                  Logged in as<br />#{current_user.display_name}
                  %i.icon-chevron-down{style: 'color: #999'}

                %ul.dropdown-menu{role: 'menu'}
                  %li
                    %a{href: orders_path} Your Orders

                  %li
                    = link_to 'Logout', destroy_user_session_path, method: :delete

                  - if current_user.admin?
                    %li.divider
                    %li
                      %a{href: admin_albums_path} Admin

            %li.socials
              = link_to 'https://www.facebook.com/khouckphoto',
                target: '_blank', rel: 'tooltip-bottom',
                title: 'Find me on Facebook' do
                %i.icon-facebook
            %li.socials
              = mail_to 'katie.houck@yahoo.com',
                '<i class="icon-envelope"></i>'.html_safe,
                encode: 'javascript', rel: 'tooltip-bottom',
                title: 'Send me an Email'

    .container

      = error_notice

      = yield
